@import url(archivo-narrow/index.css);
@import url(archivo-narrow/index.css);
@import url(bebas-neue/index.css);
@import url(calendas/index.css);
@import url(chomsky/index.css);
@import url(cormorant-garamond/index.css);
@import url(dm-serif-display/index.css);
@import url(eb-garamond/index.css);
@import url(great-vibes/index.css);
@import url(indie-flower/index.css);
@import url(jacquard-24/index.css);
@import url(kalam/index.css);
@import url(maghfirea/index.css);
@import url(nanum-myeongjo/index.css);
@import url(oswald/index.css);
@import url(pathway-gothic-one/index.css);
@import url(permanent-marker/index.css);
@import url(pixelify-sans/index.css);
@import url(playfair-display/index.css);
@import url(silvermist/index.css);
@import url(slabo/index.css);

/* @import url(claire_murphy/index.css); */
/* @import url(qramesy/index.css); */