.card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    overflow: hidden;

    outline: 1px solid color-mix(in srgb, var(--card-color) 70%, black);
    box-shadow: 0 5px 10px 0 grey;
    background: var(--card-background);
}

.card.rounded-corners {
    border-radius: 4px;
}


.card-header, .card-content-container {
    padding-top: 4mm;
}

.card-header + .card-content-container {
    margin-top: 0;
    padding-top: 4mm;
}

.card-header {
    padding-bottom: 4mm;
}

.card-header {
    color: var(--header-font-color);
    background: transparent;
}

.card-content-container {
    color: var(--content-font-color);
    background: var(--content-background-color);
}

.card-content-container .card-title, .card-content-container .card-subtitle {
    color: var(--card-color);
}

.card-content-container {
    border-color: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: inherit;
}

.card-back {
/*     background-color: white; */
    border-radius: 4mm;
    border-color: inherit;
    margin: 3mm;
    flex: 1;
    display: flex;
    position: relative;
}

.card-back-inner {
    margin: 3mm;
    border: 1mm solid;
    border-color: inherit;
    border-radius: 4mm;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-back-icon {
    width: 1in;
    height: 1in;
    border: 4mm solid;
    border-color: inherit;
    border-radius: 4mm;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-back-corner-icon {
    font-family: var(--title-font-family);
    font-size: 44pt;
    color: white;
    position: absolute;
    line-height: 0.66em;
}

.card-back-corner-icon:first-child {
    top: 4mm;
    left: 1mm;
}

.card-back-corner-icon:last-child {
    bottom: 4mm;
    right: 1mm;
    transform: rotate(180deg);
}

.card-element {
    padding: 0 4mm;
}

.card-title, .card-subtitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-title {
    font-size: var(--title-font-size);
    font-family: var(--title-font-family);
}

.card-subtitle {
    font-size: var(--subtitle-font-size);
}

.card-title > *, .card-subtitle > * {
    font-size: inherit;
    margin: 0;
    line-height: 0.8em;
    font-weight: 400;
}

.card-title .game-icon {
    display: inline-block;
    line-height: 0;
}

.card-title .game-icon:before {
    font-size: .7em;
}


.card-title + *, .card-subtitle + * {
    margin-top: 3mm;
}

.card-title + .card-subtitle {
    margin-top: 1mm;
}

.card-picture {
    height: 80px;
    line-height: 18px;
    margin-bottom: 0.0em;
}
.card-inline-icon {
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 2mm;
}

.card-inline-icon.align-left {
    align-self: flex-start;
}

.card-inline-icon.align-right {
    align-self: flex-end;
}

.card-inline-icon.align-center {
    align-self: center;
}

.card-property-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-property-name {
    display: inline;
    font-size: inherit;
    margin: 0;
}
.card-property-text {
    display: inline;
    margin: 0;
}

.card-property-array {
    display: flex;
    justify-content: space-between;
}

.card-property-inline {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-property-inline:not(:last-child) {
    border-right: 1px solid;
}

/* end the separation border between property-inline closer to the baseline */
.card-property-inline p:last-child {
    margin-bottom: -0.26em;
}

.card-property-inline .game-icon {
    font-size: 14px;
}

.card-section {
    padding-top: .6em;
}

.card-section h3 {
    color: var(--card-color);
    border-bottom: .3px solid var(--card-color);
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
}

.card-p {

}

.card-element ul {
    padding-left: 1em;
}

.card-element li {
}

.card-element li:first-of-type {
margin-top: 0.5em;
}

.card-fill {flex:1;}

.card-description-line {
    color: black;
}

.card-description-line:not(:first-child) {
    margin-top: 2mm;
}

.card-description-name {
    display: inline;
    font-size: inherit;
    font-style: italic;
}
/* .card-description-name::after {
    content: ".";
} */
.card-description-text {
    display: inline;
}

.card-ruler-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(var(--card-color), var(--card-color));
    background-size: 100% 10px;
    padding: 1em 0;
}

.card-ruler {
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--card-color);
    display: block;
}


.card-p2e-ruler {
    width: 100%;
    height: 1.0mm;
    margin-top: 0;
    margin-bottom: 0;
}

.card-box {
    display: inline;
    height: 10mm;
    width: 10mm;
    margin-right: 0.3em;
}

.card-stats {
    width: 100%
}
.card-stats-sw-derived {
    margin-top: 0;
    margin-bottom: 0;
}

.card-stats-header {
    text-align: center;
    padding: 0;
    width: 16.6%;
}

.card-stats-cell {
    text-align: center;
    padding: 0;
}

.card-bullet-line {
    color: black;
    padding-left: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.card-bullet {
    margin-bottom: 0;
    margin-top: 0;
    font-size: inherit;
}

.card-p2e-trait-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-p2e-trait {
    border-style: double;
    border-width: 2px;
    color: white;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    text-indent: 0em;
    display: inline-block;
    margin: 0;
}

.card-p2e-trait-common {
    border-color: #d8c483;
    background-color: #522e2c;
}

.card-p2e-trait-uncommon {
    background-color: #c45500;
    border-color: #d8c483;
}

.card-p2e-trait-alignment {
    background-color: #576294;
    border-color: #d8c483;
}

.card-p2e-trait-size {
    background-color: #3A7B58;
    border-color: #d8c483;
}

.card-p2e-attribute-line {
    color: black;
}

.card-p2e-attributes-text {
    margin: 0;
    font-size: 9.5px;
}