.card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 8pt;
    overflow: hidden;

    outline: 1px solid grey;
    box-shadow: 0 5px 10px 0 grey;
}

.card-header, .card-element {
    padding: 0 4mm;
}

.card.rounded-corners {
    border-radius: 4px;
}

.card-content-container {
    border-color: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: inherit;
}

.card-back {
/*     background-color: white; */
    border-radius: 4mm;
    border-color: inherit;
    margin: 3mm;
    flex: 1;
    display: flex;
    position: relative;
}

.card-back-inner {
    margin: 3mm;
    border: 1mm solid;
    border-color: inherit;
    border-radius: 4mm;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-back-icon {
    width: 1in;
    height: 1in;
    border: 4mm solid;
    border-color: inherit;
    border-radius: 4mm;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-back-corner-icon {
    font-family: 'Chomsky';
    font-size: 44pt;
    color: white;
    position: absolute;
    line-height: 0.66em;
}

.card-back-corner-icon:first-child {
    top: 0em;
    left: 0em;
}

.card-back-corner-icon:last-child {
    bottom: 0em;
    right: 0em;
    transform: rotate(180deg);
}

.card-header {
    display: flex;
    align-items: end;
}
.card-header > * {
    flex-grow: 1;
}

/* The last item before a description line */
.card-content-container *:not(.card-description-line):has(+ .card-description-line) {
    padding-bottom: 4mm;
}

.card-content-container > .card-description-line {
    padding-top: 4mm;
}
.card-content-container > .card-description-line ~ .card-description-line {
    padding-top: 2mm;
}

.card {
    background: radial-gradient(circle at top center, var(--card-color), color-mix(in srgb, var(--card-color) 80%, black));
}

.card-header, .card-content-container > * {
    color: white;
    background: transparent;
}

.card-content-container > .card-description-line,
.card-content-container > .card-description-line ~ * {
    color: black;
    background: white;
}

.card-content-container > .card-element:last-child {
    flex-grow: 1;
}

.card-title-icon, .card-font-size-icon {
    width: 12mm;
    height: 12mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
}
.card-title-icon-container, .card-font-size-icon-container  {
    border-radius: 1mm;
    background-color: inherit;
    border-color: inherit;
}

.card-title-inlineicon, .card-font-size-inlineicon {
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
    margin: -1mm 0 0mm 1mm;
}
.card-title-inlineicon-container {
    height: 80%;
    display: flex;
    justify-content: flex-end;
    background-color: inherit;
    border-color: inherit;
    padding: 1mm 0 1mm 1mm;
}

.card-title {
    font-family: 'Chomsky', Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}
.card-title-24 {
    font-size: 24pt;
    line-height: 1.5;
}
.card-title-23 {
    font-size: 23pt;
    line-height: 1.5;
}
.card-title-22 {
    font-size: 22pt;
    line-height: 1.5;
}
.card-title-21 {
    font-size: 21pt;
    line-height: 1.5;
}
.card-title-20 {
    font-size: 20pt;
    line-height: 1.5;
}
.card-title-19 {
    font-size: 19pt;
    line-height: 1.5;
}
.card-title-18 {
    font-size: 18pt;
    line-height: 1.5;
}
.card-title-17 {
    font-size: 17pt;
    line-height: 1.5;
}
.card-title-16 {
    font-size: 16pt;
    line-height: 6.5mm;
}
.card-title-15 {
    font-size: 15pt;
    line-height: 6.5mm;
}
.card-title-14 {
    font-size: 14pt;
    line-height: 6.5mm;
}
.card-title-13 {
    font-size: 13pt;
    line-height: 7mm;
}
.card-title-12 {
    font-size: 12pt;
    line-height: 7mm;
}
.card-title-11 {
    font-size: 11pt;
    line-height: 7.5mm;
}
.card-title-10 {
    font-size: 10pt;
    line-height: 7.5mm;
}
.card-font-size-12 {
    font-size: 12px;
    line-height: 1.3;
}
.card-font-size-11 {
    font-size: 11px;
    line-height: 1.3;
}
.card-font-size-10 {
    font-size: 10px;
    line-height: 1.3;
}
.card-font-size-9 {
    font-size: 9px;
    line-height: 1.3;
}
.card-font-size-8 {
    font-size: 8px;
    line-height: 1.3;
}
.card-font-size-smaller {
    font-size: smaller;
    line-height: 1.3;
}
.card-subtitle {
    font-family: "EB Garamond", 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.card-content-container .card-subtitle:first-child {
    margin: -.7em 0 .7em;
}

.card-picture {
    height: 80px;
    line-height: 18px;
    margin-bottom: 0.0em;
}
.card-inline-icon {
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 2mm;
}

.card-inline-icon.align-left {
    align-self: flex-start;
}

.card-inline-icon.align-right {
    align-self: flex-end;
}

.card-inline-icon.align-center {
    align-self: center;
}

.card-property-line {
    /* text-indent: -1em; */
    /* margin-left: 1em; */
    /* color: black; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-property-name {
    display: inline;
    font-size: inherit;
    margin: 0;
}
.card-property-text {
    display: inline;
    margin: 0;
}

.card-property-array {
    display: flex;
    justify-content: space-between;
}

.card-property-inline {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-property-inline:not(:last-child) {
    border-right: 1px solid;
}

.card-property-inline .game-icon {
    font-size: 14px;
}

.card-section {
    border-bottom: 1px solid;
    font-size: 10pt;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    border-color: inherit;
}

.card-section + .card-element {
    margin-top: 0.3em;
}

.card-p {

}

.card-fill {flex:1;}

.card-description-line {
    color: black;
}
.card-description-name {
    display: inline;
    font-size: inherit;
    font-style: italic;
}
/* .card-description-name::after {
    content: ".";
} */
.card-description-text {
    display: inline;
}

.card-ruler-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(var(--card-color), var(--card-color));
    background-size: 100% 10px;
    padding: 1em 0;
}

.card-ruler {
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--card-color);
    display: block;
}


.card-p2e-ruler {
    width: 100%;
    height: 1.0mm;
    margin-top: 0;
    margin-bottom: 0;
}

.card-box {
    display: inline;
    height: 10mm;
    width: 10mm;
    margin-right: 0.3em;
}

.card-stats {
    width: 100%
}
.card-stats-sw-derived {
    margin-top: 0;
    margin-bottom: 0;
}

.card-stats-header {
    text-align: center;
    padding: 0;
    width: 16.6%;
}

.card-stats-cell {
    text-align: center;
    padding: 0;
}

.card-bullet-line {
    color: black;
    padding-left: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.card-bullet {
    margin-bottom: 0;
    margin-top: 0;
    font-size: inherit;
}

.card-p2e-trait-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-p2e-trait {
    border-style: double;
    border-width: 2px;
    color: white;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    text-indent: 0em;
    display: inline-block;
    margin: 0;
}

.card-p2e-trait-common {
    border-color: #d8c483;
    background-color: #522e2c;
}

.card-p2e-trait-uncommon {
    background-color: #c45500;
    border-color: #d8c483;
}

.card-p2e-trait-alignment {
    background-color: #576294;
    border-color: #d8c483;
}

.card-p2e-trait-size {
    background-color: #3A7B58;
    border-color: #d8c483;
}

.card-p2e-attribute-line {
    color: black;
}

.card-p2e-attributes-text {
    margin: 0;
    font-size: 9.5px;
}