dice {
    font-family: 'dice-font';
    display: inline-block;
    vertical-align: middle;
    /* font-size: 2em; */
    font-weight: 100;
    transform: translate(0, -.15em);
    line-height: 0;
    /* margin-left: -.2em; */
    /* letter-spacing: -.5em; */
}